@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.pan {
  animation: marquee 150s linear infinite;
}
.fade-in-up {
  animation: fadeinup 1s forwards;
}
.fade-out-up {
  animation: fadeoutup 0.5s forwards;
}
/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 400; /* Adjust this to your path length */
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes undraw {
  from {
    stroke-dashoffset: 0; /* Adjust this to your path length */
  }
  to {
    stroke-dashoffset: 400;
  }
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeoutup {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.with-underline {
  position: relative;
  padding-bottom: 4%;
  cursor: pointer;
}
.svg {
  position: absolute;
  width: 120%;
  bottom: 0;
  right: -10%;
  left: -10%;
}

.path {
  stroke: #51c1b5;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-dasharray: 400; /* Adjust this to your path length */
  stroke-dashoffset: 400; /* Adjust this to your path length */
  animation: draw 2s 0.2s forwards;
}
.path.hide-path {
  animation: undraw 2s backwards;
}

.egg-icon {
  transform-origin: bottom center;
  animation: rock 2s infinite ease-in-out;
}

@keyframes rock {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg); /* tilt to the left */
  }
  50% {
    transform: rotate(10deg); /* tilt to the right */
  }
  75% {
    transform: rotate(-10deg); /* tilt back to the left */
  }
  100% {
    transform: rotate(0deg); /* return to the starting position */
  }
}
